$primary-color: #2a7be4;
$secondary-color: #edf2f8;
$text-color-primary: #091122;
$text-color-secondary: #5d6e82;

@font-face {
font-family: gt-eesti-pro-display-medium;
src: url(../fonts/gt-eesti-pro-display/GTEestiProDisplay-Medium.ttf);
}

@font-face {
font-family: Merriweather-Bold;
src: url(../fonts/merriwether/Merriweather-Bold.ttf);
}

@font-face {
font-family: gt-eesti-pro-display-regular;
src: url(../fonts/gt-eesti-pro-display/GTEestiProDisplay-Regular.ttf);
}
